@media (min-width: 375px){
    body{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    *{
        font-family: calibri;
    }
    .main{
        background-image: url("../images/bg-mobile.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 200px 300px 1fr 20px;
        overflow-x: hidden;
    }
    .attribution{
        grid-row: 5/6;
        padding: 1px 3px ;
        background-color: rgb(87, 85, 255);
        height: 100%;
        width: 100%;
        color: white
    }
    .attribution a {
        /* text-decoration: none; */
        color: white;
    }
    .wrapper{
        display: grid;
        /* background-color: rgb(130, 150, 238); */
        grid-row: 2/4;
        grid-gap: 20px 30px;
        padding: 0px 30px;
        grid-template-rows: 200px 150px;
    }
    .firstcard{
        background-color: #243473;
        border-radius: 15px 100px 15px 15px ;
        display: grid;
        grid-template-rows: 50px 50px;
        padding: 50px 50px 50px 50px; 
        grid-row-gap: 20px;
    }

    .logo{
        background-image: url('/images/logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 0;
    }

    .actions{
        display: grid;
        grid-template-columns: repeat(3, 50px);
        grid-column-gap: 20px;
        grid-template-rows: 50px;
        /* align-items: center; */
        /* justify-content: center; */
    }

    .actions div{
        background-color: rgb(21, 0, 78);
        border-radius: 10px ;

    }

    .document{
        background-image: url(/images/icon-document.svg);
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: center;
    }
    .folder{
        background-image: url(/images/icon-folder.svg);
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: center;
    }
    .upload{
        background-image: url(/images/icon-upload.svg);
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: center;
    }

    .secondcard{
        grid-row: 2/3;
        background-color: #243473;
        border-radius: 15px 15px 15px 15px ;
        padding: 20px 20px 50px 20px;
        color: white;
        display: grid;
        grid-row: 10px 10px 10px ;
        grid-template-columns: auto;
        position: relative;
        grid-gap: 5px;
    }
    .secondcard p {
        margin: 0;
    }

    .progressbar{
        width: 100%;
        height:100%;
        background-color: rgb(22, 22, 22);
        border-radius: 10px;
    }

    .pgContainer{
        width: 80%;
        height: 90%;
        /* background-color:  rgb(255, 94, 0); */
        background-image: linear-gradient(-90deg, rgb(255, 161, 211), rgb(255, 75, 171));
        border-radius: 10px;
        position: relative;
    }

    .prgss{
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        right: 0;
    }
    .copy{
        text-align:center
    }

    .status-text{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .status-text :nth-child(1){
        grid-column: 1/2;
        
        
    }
    .status-text :nth-child(2){
        grid-column: 3/4;
        justify-self: center;
        
    }
    .Left{
        position: absolute;
        padding: 50px;
        width: 25%;
        height: 1vh;
        background-color: white;
        border-radius: 20px;
        /* left: 40px; */
        /* grid-row:; */
        top: 100px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        box-shadow: 0 20px 100px 0.5px rgb(29, 29, 29)
    }


}